# Required
VITE_ADMIN_PASSWORD=your_password

# Sources
# VITE_CONFIG_SUBSCRIPTION_URL=https://example.com/subscribe
# VITE_CONFIG_FILE=[{"id":"my_source","name":"我的源","url":"http://...","isEnabled":true}]


# Site
# VITE_SITE_NAME=VODHUB

# Search  
# VITE_SEARCH_CONCURRENCY=10
